* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    // height: 100%;
    background-color: #e5e5e5;
}

// GLOBAL SETTINGS
p {
    font-size: 0.725vw;
}
h1 {
    font-size: 1.28vw;
}
h2 {
    font-size: 1.15vw;
}
h3 {
    font-size: 1vw;
}
.padded {
    padding: 20px;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../../public/fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Roboto-M";
    src: url(../../public/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: "Roboto-R";
    src: url(../../public/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(../../public/fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Montserrat-M";
    src: url(../../public/fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "Montserrat-R";
    src: url(../../public/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Poppins-SB";
    src: url(../../public/fonts/Poppins/Poppins-SemiBold.ttf);
}

// MIXINS

@mixin flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-row-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex-row-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-col-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-flex-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

//
//
//  NAVBAR / HEADER
//
//

$toggleSize: 30px;
$toggleMargin: 20px;
$toggleLine: 4px;
$toggleColor: #92929d;

.nav-container {
    .nav-right-side-container {
        font-family: "Roboto-Bold";

        @include flex-row-space-between;
        width: 100%;

        .nav-logo-title {
            @include flex-row-centered;
            color: #44444f;
            margin-left: 50px;
            embed {
                margin-right: 10px;
            }
            &:after {
                font-size: 0.725vw;
                content: "io";
                color: #440099;
            }
        }

        .nav-settings-profile {
            @include flex-row-centered;
            font-family: "Roboto-Bold";
            color: #38057f;

            #notif-sign-icon {
                padding-bottom: 20px;
                margin-right: 20px;
            }
            #seperator {
                margin: 0px 5px;
            }

            .profile-picture {
                width: 40px;
                margin-left: 20px;
            }

            #black-font {
                color: #1a1725;
                margin: 0px 30px 0px 20px;
            }
        }
    }
}

.nav-container {
    display: flex;
    position: relative;
    overflow: visible;
    outline: none;
    background-color: white;
    width: 100vw;
    padding: 0px 20px;

    &.is-active {
        .nav-toggle {
            &:before,
            &:after {
                box-shadow: none;
            }

            &:before {
                transform: rotate(-45deg);
            }

            &:after {
                transform: rotate(45deg);
            }
        }

        .nav-items {
            transform: translate(0, 0);
        }
    }

    .nav-toggle {
        $offset: $toggleSize * 0.5;

        position: relative;
        width: $toggleSize;
        height: $toggleSize;
        margin: $toggleMargin;
        z-index: 2;

        &:hover {
            cursor: pointer;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: #{$offset - $toggleLine / 2};
            left: 0;
            transform: translate(0, 0);
            width: 100%;
            height: $toggleLine;
            background: $toggleColor;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        &:before {
            box-shadow: 0 #{$offset / 1.5} 0 0 $toggleColor;
        }

        &:after {
            box-shadow: 0 #{-$offset / 1.5} 0 0 $toggleColor;
        }
    }

    .nav-items {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 300px;
        max-width: 300px;
        width: 100vw;
        height: auto;
        min-height: 105vw;
        z-index: 1;
        padding: 80px 0px 0px 0px;
        transition: transform 0.3s ease;
        transform: translate(calc(-100% - 50px), 0);
        background: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px 0px;
        align-content: start;
        color: #97a0c3;
        font-family: "Roboto-M";

        a {
            list-style: none;

            text-decoration: none;
        }

        .nav-items-header {
            font-family: "Roboto-Bold";
            color: #d6d8e7;
            font-size: 0.7vw;
            padding-left: 33px;
        }

        embed {
            width: 40px;
            height: auto;
            color: pink;
            margin-left: 33px;
        }
        .flex-row {
            @include flex-row-centered;
            justify-content: flex-start;
            width: 100%;
            padding: 10px 0px 10px 0px;
        }
        .flex-row:hover {
            border-left: 5px solid #663aac !important;
            background-color: #f2eef8;
            -moz-border-radius-bottomright: 25px 50px;
            border-bottom-right-radius: 25px;
            border-top-right-radius: 25px;
        }
        #lock-logo {
            width: 15px;
            margin-bottom: 10px;
            margin-left: 0px;
        }
        .nav-item {
            // background: darken(#efefef, 5%);
            padding: 10px;
            transition: background-color 0.3s ease;

            &:hover {
                cursor: pointer;
                // background: darken(#efefef, 10%);
            }
        }
    }
}

//
//
// PAGE CONTENTS
//
//

.contents-wrapper {
    background-color: #e5e5e5;
    padding: 30px 30px 30px 30px;
    height: 100vh;

    .border-curved {
        border-radius: 25.54px;
    }
    .four-buttons-container {
        @include flex-row-flex-end();
        embed {
            margin-right: 10px;
        }
        .btn {
            @include flex-row-centered();
            color: white;
            padding: 20px;
            margin: 0px 0px 40px 7px;
            font-family: "Roboto-M";
            border-radius: 10px;
        }
        .download {
            background-color: #ffbc10;
        }
        .reject {
            background-color: #fc5a5a;
        }
        .plan {
            background-color: #00ba88;
        }
        .hire {
            background-color: #440099;
        }
    }

    .grid-1-3 {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        margin-bottom: 20px;

        .profile-card {
            @include flex-column-flex-start();
            justify-content: flex-start;
            background-color: white;
            position: relative;
            min-width: 400px;

            img {
                width: 10vw;
                min-width: 120px;
            }
            embed {
                width: auto;
                max-width: 150px;
                margin: 0px 20px 0px 10px;
            }

            #top-right {
                @include flex-row-centered();
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                height: 40px;
                background-color: #f4f9fd;
                border-radius: 10px;
                margin: 15px;
            }

            #edit {
                margin: 0px;
            }

            h2 {
                font-family: "Roboto-Bold";
                margin: 10px 0px 0px 0px;
            }
            p {
                font-family: "Roboto-R";
                margin: 10px 0px;
            }

            .location-container {
                @include flex-row-flex-start();
                width: 45%;
                padding: 5px;
                border-radius: 6.57px;
                background-color: #edf2fd;
                p {
                    color: #7d8592;
                }
            }
            .divider {
                width: auto;
                border-bottom: 4px solid #e4e6e8;
                margin-top: 20px;
            }
            .three-buttons-container {
                @include flex-row-flex-start();
                margin-top: 20px;
                flex-wrap: wrap;
                .blue-button {
                    @include flex-row-flex-start();
                    padding: 10px;
                    background-color: #26c0e2;
                    border-radius: 34.12px;
                    width: 45%;
                    p {
                        color: white;
                    }
                }
                .yellow-button {
                    @include flex-row-flex-start();
                    padding: 10px;
                    background-color: #ffd66b;
                    border-radius: 34.12px;
                    width: 45%;
                    margin-left: auto;
                    p {
                        color: black;
                    }
                }
                .orange-button {
                    @include flex-row-flex-start();
                    flex-grow: 1;
                    padding: 10px;
                    background-color: #ff8f6b;
                    border-radius: 34.12px;
                    margin-top: 20px;

                    p {
                        color: white;
                        font-size: 1.25vw;
                    }
                }
            }
        }

        .summary-card {
            background-color: white;

            h2 {
                font-family: "Montserrat-Bold";
                font-size: 1.25vw;
                margin-bottom: 15px;
                padding: 5px;
            }

            p {
                color: #92929d;
                font-family: "Montserrat-R";
                line-height: 24px;
                letter-spacing: 0.1px;
                padding: 5px;
            }
        }
    }
    .grid-2-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        grid-template-areas:
            "hiring-info hiring-info-2"
            "history history";
        .hiring-info-wrapper {
            h2 {
                font-family: "Montserrat-Bold";
                margin-bottom: 20px;
            }
            #hide {
                color: #e5e5e5;
            }
        }
        .hiring-info-card {
            @include flex-column-flex-start();
            background-color: white;
            min-height: 400px;
            max-height: 400px;

            .flex-row {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            .grow {
                flex-grow: 1;
            }
            .hiring-info-row-1 {
                @include flex-row-flex-start();
                flex-wrap: nowrap;
                flex-grow: 1;
                padding: 20px;
                align-items: flex-start;

                .form-entry-container {
                    @include flex-column-flex-start();
                    flex-wrap: nowrap;
                    width: 50%;
                    margin-right: 20px;
                }
                .form-entry-title {
                    @include flex-row-flex-start();
                    margin-bottom: 10px;
                    embed {
                        margin-right: 10px;
                    }
                    h3 {
                        font-family: "Roboto-M";
                        color: #0f1b41;
                    }
                }
                .form-entry-content {
                    font-family: "Roboto-R";
                    color: #9797c9;
                    padding: 15px;
                    background-color: #f3f3f5;
                }
            }
        }

        .work-history-wrapper {
            grid-area: history;

            h2 {
                font-family: "Montserrat-Bold";
                margin-bottom: 20px;
            }

            .work-history-card {
                background-color: white;

                .history-column {
                    @include flex-column-flex-start();

                    .history-row {
                        padding: 20px;
                        @include flex-row-flex-start();
                        .history-content {
                            margin-right: 20px;
                            width: 50%;
                            h3 {
                                color: #440099;
                                font-family: "Poppins-SB";
                                margin-bottom: 10px;
                            }
                            p {
                                color: #92929d;
                                font-family: "Roboto-R";
                            }
                        }
                    }
                }
            }
        }
    }
}
